*{
    margin:0;
    padding:0;
}
body{
    background: linear-gradient(to right, #FF9A8B, #FF6A88);
    color: #FFFFFF;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{    
    text-align: center;
}